.tskHeader {
    display: flex;
    background-color: rgb(74, 89, 255);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
}

.tskCheckbox {
    align-self: flex-start;
    height: 30px;
    width: 30px;

}

.tskInfoContainer {
    margin: 0px 0px 0px 40px;
}

.tskTask {
    margin: 0;
    font-size: 20px;
}

.tskDate {
    margin: 0;
    margin-top: 10px;
    font-size: 15px;
}
        